# Ignore build folders
bin/
obj/
# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
# Ignore publish settings
# Visual Studio
.vs/
bin/
obj/
Properties/PublishProfiles/
# Ignore appsettings (secrets)
appsettings*.json
# Ignore logs and temp data
*.log
*.tmp
# Ignore environment-specific configs
.env
wwwroot/Uploads/Audios
wwwroot/Uploads/Images/navs
wwwroot/Uploads/Images/profiles
wwwroot/Uploads/Images/
wwwroot/Uploads/Videos

